<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>MUSIC</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/music.jpg}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">

        <div class="container-fluid ">
            <p class="display-4 mb-3">Search for your tracks!</p>
            <form class="d-flex" th:action="@{/search}" >
                <input class="form-control me-2" type="search" placeholder="Enter the name of the track" aria-label="Search" th:name="term" required/>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="container-fluid mb-4">
        <span class="display-4 text-center">Random tracks, artists and genres</span>
        </div>
        <div class="container-fluid" th:each="r:${random}">
            <span class="badge badge-pill badge-light" th:text="${r.getTrack()}"></span>
            <span class="badge badge-pill badge-secondary" th:text="${r.getArtist()}"></span>
            <span class="badge badge-pill badge-dark " th:text="${r.getGenre()}"></span>
        </div>
    </div>
</div>
</body>
</html>