<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/music.jpg}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center">Search Result</h1>
        <div class="container-fluid" >

            <table class="table" >
                <thead class="thead-light">
                <tr>
                    <th scope="col">Track</th>
                    <th scope="col">Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="track:${tracks}">
                    <td class="counter"></td>
                    <td th:text="${track.getName()}"></td>
                    <td th:text="${track.getArtist()}"></td>
                    <td th:text="${track.getAlbum()}"></td>
                    <td th:text="${track.getGenre()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>